@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
* {
    margin: 0; /*externo */
    padding: 0; /*interno*/
    font-family: "Open Sans", sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(120deg, #d45c9ed8, #cf3060da);
    display: flex; /*segue o trio para centralizar algo no centro */
    align-items: center;
    justify-content: center;
}

.relogio{
    display: flex; /*para os elementos ficarem um do aldo do outro e centralizados. */
    align-items: center;
    justify-content: space-around; /* da espaçamento entre eles */
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 1.0);
}

.relogio div{
    height: 170px;
    width: 150px;
    display: flex; 
    flex-direction: column; /*coloca elementos um embaixo do outro, pois o display flex por padrao vai um ao lado do outro. */
    align-items: center;
    justify-content: center;
    
    color: #fff;
    background: rgba(5, 5, 5, 0.9);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .7);
    border-radius: 7px;
    letter-spacing: 3px; /*espaçamento entre as letras */
}

.relogio span{
    font-weight: bolder; /*engrossa o tamanho da fonte */
    font-size: 60px;
}
.relogio span.tempo{
    font-size: 20px;
}

